# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives__

Some of the popular languages that Data Scientists use are:

-  Python
-  R
-  C++
-  SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

### Data Science Tools


| Tools     | Purpose |
| --------- | ------- |
| Jupyter Notebook | Running Code |
|        SQL       |  Queriying Databases |
|  Tableau         |  Visualization Tool  |
| GitHub           |  Managing code and projects |

## Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [13]:
def math_problem():
    answer = ((3*4)+5)
    print('Answer is:', answer)
math_problem()

Answer is: 17

### This will convert 200 minutes to hours by diving by 60

In [12]:
def min_hr_converter(min):
    """Convert minutes to hours"""
    conversion = min / 60
    rounded_ans = round(conversion, 2)
    print(f"{min} minutes converts into approximately {rounded_ans} hours")

# calling the function
min_hr_converter(200)

200 minutes converts into approximately 3.33 hours

## Author
Leonardo Samalot